.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

body {
    padding: 0;
    font-family: Lato, Helvetica, Arial, sans-serif
}

.footer,
.header {
    padding-left: 15px;
    padding-right: 15px
}

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px
}

.footer {
    margin-top: 2em;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5
}

.container-narrow>hr {
    margin: 30px 0
}

@media screen and (min-width:768px) {
    .footer,
    .header {
        padding-left: 0;
        padding-right: 0
    }
    .header {
        margin-bottom: 30px
    }
}

.logo {
    background-image: url('../images/9pointedstar_TZH_small.png');
    background-repeat: no-repeat;
    text-align: left;
    min-height: 90px;
    padding-left: 100px;
    padding-top: 0.5em;
    font-size: 2.8em;
    margin-bottom: 0.25em;
    color: rgb(114, 135, 5);
}
.quote {
    padding-top: 1em;
    font-size: 1.2em;
}
.quote p {
    margin-bottom: 0;
}
li,
p {
    font-size: 1.2em
}

.fb-like-box {
    text-align: right;
    padding-top: 1em
}


.two-column-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;    
}

.carousel-inner img {
    max-height: 399px;
}

.bicentenary {
    font-family: 'Rouge Script', cursive;
    font-size: 4em;
    font-style: italic;
}
.invites {
    font-size: 1.5em;
}

.bg-info {
    padding: 1em;
}